@charset "UTF-8";
/*
████████╗██╗  ██╗███████╗
╚══██╔══╝██║  ██║██╔════╝
   ██║   ███████║█████╗  
   ██║   ██╔══██║██╔══╝  
   ██║   ██║  ██║███████╗
   ╚═╝   ╚═╝  ╚═╝╚══════╝
 ██████╗██╗  ██╗██████╗ ██╗███████╗████████╗███╗   ███╗ █████╗ ███████╗
██╔════╝██║  ██║██╔══██╗██║██╔════╝╚══██╔══╝████╗ ████║██╔══██╗██╔════╝
██║     ███████║██████╔╝██║███████╗   ██║   ██╔████╔██║███████║███████╗
██║     ██╔══██║██╔══██╗██║╚════██║   ██║   ██║╚██╔╝██║██╔══██║╚════██║
╚██████╗██║  ██║██║  ██║██║███████║   ██║   ██║ ╚═╝ ██║██║  ██║███████║
 ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝   ╚═╝   ╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝
██╗     ██╗ ██████╗ ██╗  ██╗████████╗██╗  ██╗ ██████╗ ██╗   ██╗███████╗███████╗
██║     ██║██╔════╝ ██║  ██║╚══██╔══╝██║  ██║██╔═══██╗██║   ██║██╔════╝██╔════╝
██║     ██║██║  ███╗███████║   ██║   ███████║██║   ██║██║   ██║███████╗█████╗  
██║     ██║██║   ██║██╔══██║   ██║   ██╔══██║██║   ██║██║   ██║╚════██║██╔══╝  
███████╗██║╚██████╔╝██║  ██║   ██║   ██║  ██║╚██████╔╝╚██████╔╝███████║███████╗
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚══════╝╚══════╝
*/
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@font-face {
  font-family: 'PF Din Pro';
  src: url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Regular.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'PF Din Pro Light';
  src: url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Light.ttf");
  font-style: normal;
  font-weight: lighter; }
@font-face {
  font-family: 'PF Din Pro Bold';
  src: url("../fonts/PF_Din_Text_Comp_Pro/z-PFDinTextCompPro-Bold.ttf");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'PF Din Pro Italic';
  src: url("../fonts/PF_Din_Text_Comp_Pro/PFDinTextCompPro-Italic.ttf");
  font-style: italic;
  font-weight: normal; }
body {
  position: relative;
  font-family: 'PF Din Pro', sans-serif;
  color: #030404;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  letter-spacing: 1px; }

.section-header {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid; }
  .section-header h2 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px; }
  .section-header p {
    font-family: 'PF Din Pro Light', sans-serif;
    font-size: 30px;
    text-align: center; }

.section-gold-to-blue {
  background: linear-gradient(to top, rgba(12, 32, 72, 0.4), rgba(178, 137, 81, 0.4)); }

.section-blue-to-gold {
  background: linear-gradient(to top, rgba(178, 137, 81, 0.4), rgba(12, 32, 72, 0.4)); }

.section-blue-to-blue {
  background: linear-gradient(to top, rgba(12, 32, 72, 0.4), rgba(12, 32, 72, 0.4)); }

#nav {
  background-color: #9EA5B6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000000;
  transition: all 0.3s ease-in-out; }
  #nav .container .navbar-brand img {
    transition: all 0.3s ease-in-out; }
  #nav .navbar-nav .nav-link:hover {
    color: #0C1F48; }
  #nav .navbar-nav .nav-item a.active {
    color: #F1E7C5;
    text-shadow: 2px 2px #030404; }
  #nav .nav-item {
    font-size: 20px; }
  #nav .nav-item:nth-child(1),
  #nav .nav-item:nth-child(2),
  #nav .nav-item:nth-child(3),
  #nav .nav-item:nth-child(4),
  #nav .nav-item:nth-child(5) {
    margin: 0px 0.5rem; }
  #nav .nav-item {
    text-align: center; }
  #nav .navbar-toggler {
    border: none; }
    #nav .navbar-toggler span.navbar-toggler-icon {
      background-image: url("../images/icons/menu.svg"); }
    #nav .navbar-toggler:active {
      transform: scale(0.9); }

#showcase #xmas-carousel .carousel-indicators {
  position: absolute;
  bottom: 15px;
  display: flex;
  max-width: 300px;
  margin: 0px auto !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  #showcase #xmas-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #F1E7C5;
    opacity: 0.5; }
    #showcase #xmas-carousel .carousel-indicators li:hover {
      background-color: #B28951;
      opacity: 1; }
    #showcase #xmas-carousel .carousel-indicators li.active {
      border: 2px solid #F1E7C5;
      background-color: #4564C1;
      transform: scale(1.3);
      transition: transform 0.3s ease-in-out;
      opacity: 1; }
#showcase #xmas-carousel .carousel-control-prev,
#showcase #xmas-carousel .carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #F1E7C5;
  opacity: 1; }
  #showcase #xmas-carousel .carousel-control-prev i.fas,
  #showcase #xmas-carousel .carousel-control-next i.fas {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B28951; }
  #showcase #xmas-carousel .carousel-control-prev:hover i.fas,
  #showcase #xmas-carousel .carousel-control-next:hover i.fas {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out; }
  #showcase #xmas-carousel .carousel-control-prev:active i.fas,
  #showcase #xmas-carousel .carousel-control-next:active i.fas {
    color: #B28951;
    transform: scale(0.9); }
#showcase #xmas-carousel .carousel-control-next {
  right: 40px; }
#showcase #xmas-carousel .carousel-control-prev {
  left: 40px; }
#showcase #xmas-carousel .carousel-inner {
  margin-top: 81px;
  height: calc(100vh - 81px);
  transition: all 0.3s ease-in-out; }
  #showcase #xmas-carousel .carousel-inner .carousel-item {
    height: 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; }
  #showcase #xmas-carousel .carousel-inner .image-0 {
    background-image: url("../images/SHOWCASE/Desktop/image_0.webp");
    background-color: rgba(12, 31, 72, 0.4);
    background-size: contain !important; }
  #showcase #xmas-carousel .carousel-inner .image-1 {
    background-image: url("../images/SHOWCASE/Desktop/image_1.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-2 {
    background-image: url("../images/SHOWCASE/Desktop/image_2.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-3 {
    background-image: url("../images/SHOWCASE/Desktop/image_3.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-4 {
    background-image: url("../images/SHOWCASE/Desktop/image_4.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-5 {
    background-image: url("../images/SHOWCASE/Desktop/image_5.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-6 {
    background-image: url("../images/SHOWCASE/Desktop/image_6.webp");
    background-position: center bottom !important; }
  #showcase #xmas-carousel .carousel-inner .image-7 {
    background-image: url("../images/SHOWCASE/Desktop/image_7.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-8 {
    background-image: url("../images/SHOWCASE/Desktop/image_8.webp"); }

#events {
  background-color: rgba(12, 31, 72, 0.4); }
  #events .container .row:nth-child(2) .table {
    background-color: rgba(192, 38, 40, 0.8);
    width: 100%;
    table-layout: fixed;
    border-top: none;
    border-right: 5px solid #B28951;
    border-bottom: 5px solid #B28951;
    border-left: 5px solid #B28951;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0; }
    #events .container .row:nth-child(2) .table thead {
      position: sticky;
      top: 61px;
      color: #F1E7C5;
      background-color: #C02628; }
      #events .container .row:nth-child(2) .table thead tr th[scope="col"] {
        border-top: 5px solid #B28951;
        border-right: 2px solid #B28951;
        border-bottom: 5px solid #B28951;
        border-left: 2px solid #B28951;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center; }
    #events .container .row:nth-child(2) .table tbody tr th[scope="row"] {
      font-size: 20px; }
    #events .container .row:nth-child(2) .table tbody tr th,
    #events .container .row:nth-child(2) .table tbody tr td {
      border-color: #B28951;
      color: #F1E7C5;
      border-style: dotted;
      border-width: 1px;
      font-size: 17px;
      text-align: center;
      vertical-align: middle;
      line-height: 1; }

#timer {
  background-color: rgba(178, 137, 81, 0.4); }
  #timer .container .jumbotron {
    background-color: rgba(178, 137, 81, 0.4);
    margin-bottom: 0; }
    #timer .container .jumbotron .row:nth-child(1) h1 {
      font-size: 70px;
      font-family: "PF Din Pro Light", sans-serif; }
    #timer .container .jumbotron div.row:nth-child(2) .time h2 {
      font-family: "PF Din Pro Bold";
      font-size: 60px;
      border-bottom: 2px solid #F1E7C5; }
    #timer .container .jumbotron div.row:nth-child(2) .time p {
      font-size: 25px; }
    #timer .container .jumbotron .row:nth-child(3) div {
      letter-spacing: 10px;
      font-size: 100px; }

#activities {
  background-color: rgba(12, 31, 72, 0.4); }
  #activities .container .row:nth-child(1) .section-header {
    border-color: rgba(12, 31, 72, 0.4); }
  #activities .container .row:nth-child(2),
  #activities .container .row:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    margin: auto; }
    #activities .container .row:nth-child(2) .custom-card,
    #activities .container .row:nth-child(3) .custom-card {
      border-radius: 10px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
      overflow: hidden;
      width: 100%;
      background: rgba(241, 231, 197, 0.4);
      background: #D3CFC0; }
    #activities .container .row:nth-child(2) .custom-card-header img,
    #activities .container .row:nth-child(3) .custom-card-header img {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    #activities .container .row:nth-child(2) .custom-card-body,
    #activities .container .row:nth-child(3) .custom-card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      min-height: 250px;
      background: #D3CFC0; }
      #activities .container .row:nth-child(2) .custom-card-body span,
      #activities .container .row:nth-child(3) .custom-card-body span {
        color: #4564C1;
        cursor: pointer; }
      #activities .container .row:nth-child(2) .custom-card-body span.schedule,
      #activities .container .row:nth-child(3) .custom-card-body span.schedule {
        cursor: initial;
        display: block;
        text-align: left;
        margin: 5px 0; }
      #activities .container .row:nth-child(2) .custom-card-body span.schedule::before,
      #activities .container .row:nth-child(3) .custom-card-body span.schedule::before {
        content: "\f05a";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 18px;
        margin-right: 5px; }
      #activities .container .row:nth-child(2) .custom-card-body h2,
      #activities .container .row:nth-child(3) .custom-card-body h2 {
        color: #0C1F48;
        font-size: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #B28951; }
      #activities .container .row:nth-child(2) .custom-card-body p,
      #activities .container .row:nth-child(3) .custom-card-body p {
        color: #0C1F48;
        text-align: justify;
        font-size: 22px;
        margin: auto 0px; }
      #activities .container .row:nth-child(2) .custom-card-body a.btn,
      #activities .container .row:nth-child(3) .custom-card-body a.btn {
        color: #030404;
        height: 100%;
        margin-top: auto;
        font-size: 22px;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out; }
        #activities .container .row:nth-child(2) .custom-card-body a.btn:hover,
        #activities .container .row:nth-child(3) .custom-card-body a.btn:hover {
          font-family: "PF Din Pro Bold", sans-serif;
          letter-spacing: 3px; }

#covid {
  background-color: rgba(178, 137, 81, 0.4); }
  #covid .container .row:nth-child(1) .section-header {
    border-color: rgba(178, 137, 81, 0.4); }
  #covid .container .row:nth-child(2) span {
    color: #4564C1; }
  #covid .container .row:nth-child(2) div:nth-child(2) p,
  #covid .container .row:nth-child(3) div:nth-child(2) p,
  #covid .container .row:nth-child(4) div:nth-child(2) p {
    font-size: 22px; }

#gallery {
  background-color: rgba(12, 31, 72, 0.4); }
  #gallery .container .row:nth-child(1) .section-header {
    border-color: rgba(12, 31, 72, 0.4); }
  #gallery .container .row:nth-child(2) .col-photos {
    padding-bottom: 50px;
    border-bottom: 2px solid rgba(12, 31, 72, 0.4);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    justify-items: center; }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item {
      display: inline-block;
      height: 100%; }
      #gallery .container .row:nth-child(2) .col-photos .gallery-item img {
        width: 200px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease-in-out; }
        #gallery .container .row:nth-child(2) .col-photos .gallery-item img:hover {
          cursor: url("../images/icons/cursor.svg"), pointer;
          z-index: 1000;
          transform: scale(1.2);
          transition: all 0.3s ease-in-out; }

#video {
  background-color: rgba(12, 31, 72, 0.4); }
  #video .container .row h2 {
    font-size: 45px; }
  #video .container .row p {
    font-size: 30px; }
  #video .container .row button.video {
    background: none;
    border: none;
    outline: none; }

#contact {
  background-color: rgba(178, 137, 81, 0.4); }
  #contact .container .row:nth-child(1) .section-header {
    border-color: rgba(178, 137, 81, 0.4); }
  #contact .container .row:nth-child(2) .col-md-7 .card {
    border-radius: 10px;
    border: none;
    background: rgba(69, 100, 193, 0.3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); }
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body h3 {
      font-size: 26px; }
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body hr {
      background: rgba(12, 31, 72, 0.4); }
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .input-group .form-control {
      border: 1px solid #0C1F48;
      color: #0C1F48;
      letter-spacing: 1px; }
      #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .input-group .form-control::placeholder {
        color: #0C1F48;
        letter-spacing: 1px; }
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .input-group .form-control:focus {
      box-shadow: 0 0 0.5rem 0.1rem #0C1F48; }
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .valid-feedback,
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .invalid-feedback {
      font-family: monospace;
      font-weight: bold;
      text-align: right;
      font-size: 12px;
      opacity: 1; }
    #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .input-group-prepend .input-group-text {
      background: #0C1F48;
      border: 1px solid #0C1F48;
      color: #F1E7C5; }
      #contact .container .row:nth-child(2) .col-md-7 .card .card-body form .custom-form-inputs .input-group-prepend .input-group-text i.fas {
        width: 20px;
        height: 20px; }
  #contact .container .row:nth-child(2) .col-md-5 .card {
    border-radius: 10px;
    border: none;
    background: rgba(69, 100, 193, 0.3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); }
    #contact .container .row:nth-child(2) .col-md-5 .card #mapbox {
      border-radius: 10px; }
      #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup {
        max-width: 100% !important; }
        #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup .mapboxgl-popup-tip {
          border-top-color: #B28951; }
        #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup .mapboxgl-popup-content {
          padding: 10px !important;
          border-radius: 10px;
          border: 1px solid #B28951;
          background-color: #F1E7C5;
          color: #0C1F48; }
          #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup .mapboxgl-popup-content .header {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #0C1F48; }
            #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup .mapboxgl-popup-content .header img {
              width: 35px;
              margin-right: 5px; }
            #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup .mapboxgl-popup-content .header h5 {
              font-size: 15px;
              font-weight: 700;
              letter-spacing: 0px;
              margin: 0; }
          #contact .container .row:nth-child(2) .col-md-5 .card #mapbox .mapboxgl-popup .mapboxgl-popup-content .body p {
            margin: 0; }

#contact-success-nav {
  background-color: rgba(12, 31, 72, 0.4); }

#contact-success {
  background-color: rgba(178, 137, 81, 0.4); }
  #contact-success .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #contact-success .container .col .card {
      background-color: rgba(69, 100, 193, 0.4);
      border: 1px solid #0C1F48;
      width: 50%;
      margin: 0px auto; }
      #contact-success .container .col .card .card-body .card-title {
        border-bottom: 1px solid #0C1F48;
        font-size: 35px; }
      #contact-success .container .col .card .card-body .card-text {
        font-size: 25px; }

#footer {
  background-color: rgba(12, 31, 72, 0.4); }
  #footer .row:nth-child(1) h3 {
    font-family: 'PF Din Pro Bold';
    font-size: 30px;
    letter-spacing: 2px; }
  #footer .row:nth-child(1) .list-inline .list-inline-item .btn {
    color: #fff;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0; }
    #footer .row:nth-child(1) .list-inline .list-inline-item .btn.social-fb {
      background-color: #4867AA; }
      #footer .row:nth-child(1) .list-inline .list-inline-item .btn.social-fb i.fa-facebook-f {
        position: absolute;
        top: 18%;
        left: 30%; }
    #footer .row:nth-child(1) .list-inline .list-inline-item .btn.social-ig {
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
      #footer .row:nth-child(1) .list-inline .list-inline-item .btn.social-ig i.fa-instagram {
        position: absolute;
        top: 18%;
        left: 23%; }
    #footer .row:nth-child(1) .list-inline .list-inline-item .btn:hover {
      transform: scale(1.1);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out; }
  #footer .row:nth-child(2) {
    border-top: 2px solid rgba(12, 31, 72, 0.4);
    border-bottom: 2px solid rgba(12, 31, 72, 0.4); }
    #footer .row:nth-child(2) .col-lg-3:nth-child(1) .footer-logo {
      height: 150px; }
    #footer .row:nth-child(2) .col-lg-3:nth-child(4) ul div img {
      height: 35px; }
    #footer .row:nth-child(2) .col-lg-3:nth-child(2) h4,
    #footer .row:nth-child(2) .col-lg-3:nth-child(3) h4,
    #footer .row:nth-child(2) .col-lg-3:nth-child(4) h4 {
      font-family: 'PF Din Pro Bold';
      font-size: 25px;
      letter-spacing: 2px; }
    #footer .row:nth-child(2) .col-lg-3:nth-child(2) ul li,
    #footer .row:nth-child(2) .col-lg-3:nth-child(3) ul li,
    #footer .row:nth-child(2) .col-lg-3:nth-child(4) ul li {
      font-size: 22px; }
  #footer .row:nth-child(3) .col h5 {
    font-size: 25px; }

#videoModal .modal-dialog .modal-content {
  background-color: #B28951;
  border: none; }
  #videoModal .modal-dialog .modal-content .modal-body {
    display: flex;
    position: relative;
    padding: 20px 0; }
    #videoModal .modal-dialog .modal-content .modal-body .close {
      color: #0C1F48;
      opacity: 1; }
      #videoModal .modal-dialog .modal-content .modal-body .close i.fas {
        font-size: 22px;
        position: absolute;
        top: 0px;
        right: 5px; }

@media (max-width: 1199px) {
  #gallery .container .row:nth-child(2) .col-photos {
    grid-template-columns: repeat(4, 1fr); }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item.last-item {
      grid-column-start: span 4; } }
@media (max-width: 991px) {
  #timer .container .jumbotron .row:nth-child(1) h1 {
    font-size: 60px; }
  #timer .container .jumbotron div.row:nth-child(2) .time h2 {
    font-family: "PF Din Pro Bold";
    font-size: 50px; }
  #timer .container .jumbotron div.row:nth-child(2) .time p {
    font-size: 25px; }

  #gallery .container .row:nth-child(2) .col-photos {
    grid-template-columns: repeat(3, 1fr); }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item img {
      width: 220px; }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item.last-item {
      grid-column-start: span 3; } }
@media (max-width: 768px) {
  .mb-resp {
    margin-bottom: 1rem; }

  #timer .container .jumbotron .row:nth-child(1) h1 {
    font-size: 44px; }

  #activities .container .row:nth-child(2),
  #activities .container .row:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    width: 100%;
    margin: auto; }

  #gallery .container .row:nth-child(2) .col-photos {
    grid-template-columns: repeat(3, 1fr); }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item img {
      width: 150px; }

  #contact-success {
    background-color: rgba(178, 137, 81, 0.4); }
    #contact-success .container .col .card {
      width: 100%; }
      #contact-success .container .col .card .card-body .card-title {
        font-size: 30px; }
      #contact-success .container .col .card .card-body .card-text {
        font-size: 22px; }
      #contact-success .container .col .card .card-body .btn {
        font-size: 22px; } }
@media (max-width: 576px) {
  #showcase #xmas-carousel .carousel-indicators {
    max-width: 200px; }
    #showcase #xmas-carousel .carousel-indicators li {
      width: 15px;
      height: 15px; }
      #showcase #xmas-carousel .carousel-indicators li.active {
        border: 1px solid #F1E7C5; }
  #showcase #xmas-carousel .carousel-control-prev,
  #showcase #xmas-carousel .carousel-control-next {
    width: 25px;
    height: 25px;
    font-size: 1.5rem; }
    #showcase #xmas-carousel .carousel-control-prev:hover i.fas,
    #showcase #xmas-carousel .carousel-control-next:hover i.fas {
      transform: none; }
    #showcase #xmas-carousel .carousel-control-prev:active i.fas,
    #showcase #xmas-carousel .carousel-control-next:active i.fas {
      color: #B28951;
      transform: scale(0.8);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #F1E7C5; }
  #showcase #xmas-carousel .carousel-control-prev {
    left: 10px; }
  #showcase #xmas-carousel .carousel-control-next {
    right: 10px; }
  #showcase #xmas-carousel .carousel-inner .image-0 {
    background-image: url("../images/parko/BANNERS/ΣΥΝΟΠΤΙΚΟ_mobile.webp");
    background-size: cover !important; }
  #showcase #xmas-carousel .carousel-inner .image-1 {
    background-image: url("../images/parko/MOBILE/ΕΙΣΟΔΟΣ.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-2 {
    background-image: url("../images/parko/MOBILE/ΠΑΓΟΔΡΟΜΙΟ5.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-3 {
    background-image: url("../images/parko/MOBILE/ΒΙΒΛΙΟ_ΨΑΓΜΕΝΗ_mobile.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-4 {
    background-image: url("../images/parko/MOBILE/ΑΗ_ΒΑΣΙΛΗΣ1_mobile.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-5 {
    background-image: url("../images/parko/MOBILE/ΑΗ_ΒΑΣΙΛΗΣ_ΓΡΑΜΜΑ.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-6 {
    background-image: url("../images/parko/MOBILE/ΠΑΓΟΔΡΟΜΙΟ4_mobile.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-7 {
    background-image: url("../images/parko/MOBILE/AH_ΒΑΣΙΛΗΣ_ΠΑΙΔΙ_mobile.webp"); }
  #showcase #xmas-carousel .carousel-inner .image-8 {
    background-image: url("../images/parelasi/mobile/pikachu.webp"); } }
@media (max-width: 502px) {
  .mb-resp {
    margin-bottom: 1rem; }

  #timer .container .jumbotron .row:nth-child(1) h1 {
    font-size: 35px; }
  #timer .container .jumbotron div.row:nth-child(2) .time h2 {
    font-family: "PF Din Pro Bold";
    font-size: 45px; }
  #timer .container .jumbotron div.row:nth-child(2) .time p {
    font-size: 20px; }

  #gallery .container .row:nth-child(2) .col-photos {
    grid-template-columns: repeat(2, 1fr); }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item.last-item {
      grid-column-start: span 2; }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item img {
      width: 180px; } }
@media (max-width: 430px) {
  .section-header h2 {
    font-size: 35px; }
  .section-header p {
    font-size: 22px; }

  #timer .container .jumbotron .row:nth-child(1) {
    padding-bottom: 32px !important; }
    #timer .container .jumbotron .row:nth-child(1) h1 {
      font-size: 35px; }
  #timer .container .jumbotron div.row:nth-child(2) .col-3 {
    flex-basis: 100% !important;
    max-width: 100% !important; }
  #timer .container .jumbotron div.row:nth-child(2) .time h2 {
    font-family: "PF Din Pro Bold";
    font-size: 45px; }
  #timer .container .jumbotron div.row:nth-child(2) .time p {
    font-size: 25px; }

  #activities .container .row:nth-child(2) .custom-card .custom-card-body h2,
  #activities .container .row:nth-child(3) .custom-card .custom-card-body h2 {
    font-size: 28px; }
  #activities .container .row:nth-child(2) .custom-card .custom-card-body p,
  #activities .container .row:nth-child(2) .custom-card .custom-card-body a.btn,
  #activities .container .row:nth-child(3) .custom-card .custom-card-body p,
  #activities .container .row:nth-child(3) .custom-card .custom-card-body a.btn {
    font-size: 20px; }

  #gallery .container .row:nth-child(2) .col-photos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr); }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item img {
      width: 150px; }
    #gallery .container .row:nth-child(2) .col-photos .gallery-item.last-item {
      grid-column-start: span 2; }

  #video {
    background-color: rgba(12, 31, 72, 0.4); }
    #video .container .row h2 {
      font-size: 35px; }
    #video .container .row p {
      font-size: 22px; }
    #video .container .row a.video {
      font-size: 15px; } }
